.signup-container {
  height: 100vh;
  
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-box {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.signup-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.signup-input {
  display: block;
  width: 100%;
  padding: 0.6rem;
  margin: 10px 0;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 1rem;
  background: #f4f4f4;
}

.signup-input:focus {
  border: 2px solid #002626;
}

.signup-button {
  background-color: #002626;
  color: white;
  border: none;
  padding: 0.6rem 1.5rem;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}

.signup-button:hover {
  background-color: #004d4d;
}

.toggle-link {
  margin-top: 15px;
  font-size: 0.9rem;
  color: #333;
}

.toggle-span {
  color: #002626;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}


.login-toggle {
  color: #004d4d;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}